// Colors -----------------------------------
// From One Dark Candy, slightly tweaked
// https://marketplace.visualstudio.com/items?itemName=KacperBiedka.one-candy-dark
@color-2-text: hsv(265, 8.58%, 84.31%);
@color-2-pink: hsv(315.95, 32.35%, 93.82%);
@color-2-violet: hsv(255.58, 33.05%, 97.25%);
@color-2-teal: hsv(199.18, 57.46%, 89.84%);
@color-2-peach: hsv(5.07, 31.84%, 98%);
@color-2-green: hsv(154.86, 37.95%, 75.47%);
@color-2-sand: hsv(37.97, 34.35%, 94.82%);
// extra colors
@color-3-blue: hsv(222, 47.32%, 98%);


// Config -----------------------------------
// Background color, copied from One Dark theme
@syntax-hue:          220;
@syntax-saturation:   13%;
@syntax-brightness:   16%;


// Monochrome -----------------------------------
@mono-1:	@color-2-text; 		// default text  (usually for files without syntax highlight)
@mono-2:	hsl(@syntax-hue,  9%, 55%);
@mono-3:	hsl(@syntax-hue, 10%, 40%);

// Colors -----------------------------------
@hue-1:		@color-2-teal;		// function calls, type hints
@hue-2:		@color-3-blue;		// function, class definitions
@hue-3:		@color-2-pink;		// imports, defs, etc
@hue-4:		@color-2-green;		// strings
@hue-5:		@color-2-peach; 	// variable definitions, string interpolation
@hue-6:		@color-2-sand;		// function arguments, constants, int, bool values
@hue-7:		@color-2-violet;	// for regular text in supported languages


// Base colors -----------------------------------
@plain-fg:		@mono-1;
@syntax-fg:     @hue-7;		// main text if syntax is highlighted
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@color-2-text, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66% );
